@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 37, 64;
  --background-start-rgb: 246, 249, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'Figtree', sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .stripe-card {
    @apply bg-white rounded-2xl border border-[#e3e8ee] shadow-[0_2px_5px_-1px_rgba(50,50,93,0.25),0_1px_3px_-1px_rgba(0,0,0,0.3)] transition-all duration-300;
  }
  
  .btn-primary {
    @apply bg-[#635bff] text-white px-8 py-4 rounded-xl font-bold text-base shadow-lg shadow-indigo-100 hover:bg-[#0a2540] active:scale-95 transition-all flex items-center justify-center gap-3;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
